<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/profile.css">
</head>
<body>

    <div class="logout">
        <a href="/logout">Logout</a>
    </div>

    <h3>You can update your post.</h3>



    <form action="/update/<%= post._id %>" method="post">
        <textarea name="content" placeholder="Write what in your mind ?"><%= post.content %></textarea>
        <input type="submit" value="Update post">    
    </form>

    
</body>
</html>