<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head> 
<body>
    <form action="/logining" method="post">

        <h1>Login Account </h1>

        <input type="text" placeholder="username" name="username">
        <input type="text" placeholder="password" name="password">
        <button> Login </button>
    </form>
</body>
</html>